//@theme "/nix/store/ixmsvl74ci0cqycv1zn5w561b5rsp8vk-rofi-1.7.5/share/rofi/themes/DarkBlue.rasi"
//@theme "/nix/store/ixmsvl74ci0cqycv1zn5w561b5rsp8vk-rofi-1.7.5/share/rofi/themes/solarized.rasi"
@theme "/nix/store/ixmsvl74ci0cqycv1zn5w561b5rsp8vk-rofi-1.7.5/share/rofi/themes/Arc-Dark.rasi"
